.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;
    padding:.8rem 1.2rem;
    border-radius:var(--radius-pill);
    border:0;
    background:var(--grad-btn);
    color:var(--col-black);
    font-weight:var(--fw-semibold);
    box-shadow:var(--shadow-soft);
    transition:transform var(--transition),box-shadow var(--transition)
}
.btn:hover{
    transform:translateY(-2px);
    box-shadow:var(--shadow-hard)
}
.btn--light{
    background:var(--col-white)
}
.btn_newsletter{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;
    padding:.8rem 1.2rem;
    border-radius:var(--radius-pill);
    border:0;
    background:var(--col-brown);
    color:var(--col-white);
    font-weight:var(--fw-semibold);
    box-shadow:var(--shadow-soft);
    transition:transform var(--transition),box-shadow var(--transition)
  }