@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');



@font-face {
  font-family: "Dina Chaumont";
  src: url("../../assets/font/DinaChaumont-DisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html{scroll-behavior:smooth;background:var(--col-cream);overflow-x:hidden}
body{font-family:var(--ff-body);font-size:var(--fs-md);line-height:var(--lh-normal);color:var(--col-text);background:var(--col-cream);overflow-x:hidden;margin:0;padding:0}
a{color:inherit;text-decoration:none}
a:focus-visible,button:focus-visible,input:focus-visible,select:focus-visible,textarea:focus-visible{outline:3px solid var(--col-yellow);outline-offset:2px}
.u-sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}
.u-list-unstyled{list-style:none;margin:0;padding:0}

.container{
  width:var(--container);
  margin-inline:auto;
  padding-inline:clamp(.8rem,2vw,1rem)
}

h1,h2,h3,.h1,.h2,.h3{line-height:var(--lh-tight);letter-spacing:.02em}
h1,.h1{font-family:"Dina Chaumont";font-weight:700;font-size:var(--fs-3xl)} h2,.h2{font-family:var(--ff-title-1),var(--ff-title-2);font-size:var(--fs-2xl)} h3,.h3{font-family:var(--ff-title-1),var(--ff-title-2);font-size:var(--fs-xl)}





.btn{display:inline-flex;align-items:center;justify-content:center;gap:.5rem;padding:.8rem 1.2rem;border-radius:var(--radius-pill);border:0;background:var(--grad-btn);color:var(--col-black);font-weight:var(--fw-semibold);box-shadow:var(--shadow-soft);transition:transform var(--transition),box-shadow var(--transition)}
.btn:hover{transform:translateY(-2px);box-shadow:var(--shadow-hard)}
.btn--light{background:var(--col-white)}
.btn_newsletter{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;
    padding:.8rem 1.2rem;
    border-radius:var(--radius-pill);
    border:0;
    background:var(--col-brown);
    color:var(--col-white);
    font-weight:var(--fw-semibold);
    box-shadow:var(--shadow-soft);
    transition:transform var(--transition),box-shadow var(--transition)}



